<div class="container mt-5">
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
      <div class="card p-5 shadow-effect bg-secondary-theme">
        <div class="card-body">
          <div class="text-center">
            <h3 class="text-theme-primary">Login</h3>
            <p>Please login to your admin account to post a new blog post</p>
          </div>

          <form
            class="row"
            #loginForm="ngForm"
            (ngSubmit)="onSubmit()"
            data-testid="form">
            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                [ngClass]="{
                  'is-invalid': email.touched && email.invalid
                }"
                placeholder="Email"
                name="email"
                #email="ngModel"
                ngModel
                required
                email
                data-testid="email" />

              <div
                class="alert alert-danger"
                *ngIf="email.touched && email.invalid">
                <div *ngIf="email.errors?.['required']">Email is required</div>
                <div *ngIf="email.errors?.['email']">
                  Please enter a valid email address
                </div>
              </div>
            </div>

            <div class="mb-3">
              <input
                type="password"
                class="form-control"
                [ngClass]="{
                  'is-invalid': password.touched && password.invalid
                }"
                placeholder="Password"
                name="password"
                #password="ngModel"
                ngModel
                required
                data-testid="password" />

              <p
                class="alert alert-danger"
                *ngIf="password.touched && password.invalid">
                Password is required
              </p>
            </div>

            <div class="d-grid">
              <button
                type="submit"
                class="btn btn-info btn-block btn-theme"
                [disabled]="loginForm.invalid"
                data-testid="button-submit">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-3"></div>
  </div>
</div>
