<header class="navbar navbar-expand-lg fixed-top bg-white shadow-effect">
  <div class="container justify-content-center">
    <a href="#" class="logo"> ANG-BLOG</a>
  </div>

  <div
    *ngIf="isLoggedIn$ | async"
    class="container justify-content-center"
    data-testid="loggedIn">
    <a href="#" class="me-3"> {{ userEmail }}</a>
    <button
      type="button"
      class="btn btn-sm btn-info bg-secondary-theme text-theme-primary"
      (click)="onLogout()">
      Logout
    </button>
  </div>
</header>
