<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
      <h3 class="text-center text-primary-theme" data-testid="form-title">{{title}}</h3>
      <p class="text-center mb-5">you can add new categories from here!</p>

      <form class="row text-center" #categoryForm="ngForm" (ngSubmit)="onSubmit()" data-testid="form">
        <div class="col-md-10">
          <input type="text" name="category" class="form-control shadow-effect"
            [ngClass]="{'is-invalid': newCategory.touched && newCategory.invalid}" placeholder="Add New Categories"
            #newCategory="ngModel" [(ngModel)]="formCategoryValue" required data-testid="new-category">
          <p class="alert alert-danger" *ngIf="newCategory.touched && newCategory.invalid">
            Category field is required
          </p>
        </div>

        <div class="col-md-2 d-grid">
          <button type="submit" class="btn btn-block btn-info mb-2 btn-theme" [disabled]="categoryForm.invalid"
            data-testid="button-submit">{{titleButton}}</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-3"></div>

    <div class="col-md-6">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>№</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let category of categoryArray; let i = index" data-testid="row-category">
                <td>{{i + 1}}</td>
                <td>{{category.data.category}}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-warning" (click)="onEdit(category)"
                    data-testid="button-edit">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-3"></div>
  </div>
</div>