<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mb-5">
      <a class="card shadow-effect" routerLink="/categories">
        <div class="card-body text-center bg-secondary-theme">
          <span class="material-symbols-outlined mt-3 fs-1 text-primary-theme">
            checklist
          </span>

          <h2 class="text-primary-theme">Categories</h2>
          <p class="text-theme">Manage Your Categories Details Here</p>
        </div>
      </a>
    </div>

    <div class="col-md-4 mb-5">
      <a class="card shadow-effect" routerLink="/posts">
        <div class="card-body text-center bg-secondary-theme">
          <span class="material-symbols-outlined mt-3 fs-1 text-primary-theme">
            format_image_right
          </span>

          <h2 class="text-primary-theme">Posts</h2>
          <p class="text-theme">Manage Your Posts Details Here</p>
        </div>
      </a>
    </div>
  </div>
</div>