<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-theme">
        <div class="card-body text-center text-theme">
          <h3 class="text-theme-center">All Blog Post</h3>
          <p>From here you can manager your blog posts</p>

          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-info btn-theme" routerLink="/posts/new">Add New Post</button>
            <button type="button" class="btn btn-warning ms-2 text-white" routerLink="/">Back To Dashboard</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-12">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover">
            <colgroup>
              <col span="1" style="width: 10px;">
              <col span="1" style="width: 200px;">
              <col span="1" style="width: 200px;">
              <col span="1" style="width: 300px;">
              <col span="1" style="width: auto;">
              <col span="1" style="width: auto;">
              <col span="1" style="width: auto;">
            </colgroup>

            <thead>
              <tr>
                <th>№</th>
                <th>Post Image</th>
                <th>Title</th>
                <th>Excerpt</th>
                <th>Category</th>
                <th>Date</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let post of posts; let i = index">
                <td>{{ i+1 }}</td>
                <td> <img [src]="post.data.postImgPath" class="img img-fluid"> </td>
                <td> {{post.data.title}} </td>
                <td> {{post.data.excerpt}} </td>
                <td> {{post.data.category.category}} </td>
                <td> {{post.data.createdAt | date}} </td>
                <td>
                  <button type="button" class="btn btn-sm btn-warning" routerLink="/posts/new"
                    [queryParams]="{id: post.id}">Edit</button>
                  <button type="button" class="btn btn-sm btn-danger ms-2" (click)="onDelete(post)"
                    data-testid="button-delete">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>