<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-theme">
        <div class="card-body text-center text-theme">
          <h3 class="text-theme-center">All Blog Post</h3>
          <p>From here you can manager your blog posts</p>

          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-info btn-theme" routerLink="/posts/new">Add New Post</button>
            <button type="button" class="btn btn-warning ms-2 text-white" routerLink="/">Back To Dashboard</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>